<%
const title = opt.title || _.state.title || _.state.name
if (title) {
  
  %>
  <div class="page-title  mt-4 mb-2 mb-lg-2">
    <div class="container">
    <% 
    if(_.route.collection == "posts"){
    const postDate = _.ecomUtils.formatDate(_.state.date) 
    
    %>
      <div class="post-date">
        Publicado em <%= postDate %>
      </div>    
    <% } %>
    <div class="page-title__head">
      <% if (_.state.logo && _.state.logo.url) { %>
        <img
          class="page-title__logo"
          src="<%= _.state.logo.url %>"
          alt="<%= _.state.logo.alt %>"
        >
      <% } %>
      <h1 class="my-0">
        <%= title %>
      </h1>
    </div>
    <% 
    if(_.route.collection == "posts"){
      
    %>
      <div class="post-image">
        <% if (_.state.thumbnail) { %>
            <img
              src="<%= _.assetsPrefix || '' %><%= _.state.thumbnail %>"
              class="w-100"
              alt="<%= _.state.title %>"
            >
      
        <% } %>
      </div>    
    <% } %>
    <%
    const description = opt.description || _.state.short_description
    if (description) {
      %>
      <div class="page-title__short-description lead">
        <%= description %>
      </div>
    <% } %>
    </div>
  </div>
<% } %>
