<%
const stamps = _.cms('stamps') || {}
let stampsList
if (stamps && Array.isArray(stamps.stamps_list) && stamps.stamps_list.length) {
  stampsList = stamps.stamps_list
}
%>

<div id="product-block" class="product-block my-4 mb-lg-5">
  <div class="container">
    <section
      id="product"
      class="product"
      data-to-render="true"
      data-product-id="<%= _.state._id %>"
      data-sku="<%= _.state.sku %>"
    >
      <div id="product-dock">
        <!--
          `TheProduct` should be rendered (hydrated) here:
          https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/TheProduct.html
        -->
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4">
          <!-- Picture(s) gallery will be inserted dynamically within `TheProduct` -->
          <% if (_.state.pictures) { %>
            <% const imgObj = _.ecomUtils.img(_.state, null, 'big') %>
            <% if (imgObj) { %>
              <% const [width, height] = (imgObj.size || '').split('x').map(px => parseInt(px, 10)) %>
              <div id="product-gallery">
                <div data-slot="stamps">
                  <% if (Array.isArray(stampsList) && stampsList.length) { %>
                    <div class="product__stamps">
                      <% for (stamp of stampsList) { 
                        if (stamp.img && (!stamp.skus || !stamp.skus.length || stamp.skus.includes(_.state.sku))) {
                          %>
                          <span class="product__stamps-<%= stamp.id && stamp.id.toLowerCase().replace(/\s/g, '-') %>">
                            <img src="<%= stamp.img %>" alt="<%= stamp.id %>">
                          </span>
                        <% } %>
                      <% } %>
                    </div>
                  <% } %>
                </div>
                <div
                  class="product__picture"
                  <% if (width) { %>
                    style="max-width: <%= width %>px"
                  <% } %>  
                >
                  <picture
                    <% if (width && height) { %>
                      class="picture"
                      style="--aspect-ratio-pc: <%= Math.round(height * 100 * 10000 / width) / 10000 %>%"
                    <% } %>
                  >
                    <source
                      srcset="<%= _.ecomUtils.img(_.state).url %>"
                      type="image/webp"
                      media="(max-width: 399.98px)"
                    >
                    <source
                      srcset="<%= imgObj.url %>"
                      type="image/webp"
                      media="(min-width: 400px)"
                    >
                    <img
                      src="<%= imgObj.url.replace(/\.webp$/, '') %>"
                      alt="<%= imgObj.alt || _.state.name %>"
                      <% if (imgObj.url.startsWith('https://ecoms1.com/')) { %>
                        crossorigin="anonymous"
                      <% } %>
                      <% if (height) { %>
                        width="<%= width %>"
                        height="<%= height %>"
                      <% } %>
                    >
                  </picture>
                </div>
              </div>
            <% } %>
          <% } %>
          <!-- Custom additional code on bottom of images gallery -->
        </div>
        
        <div class="col offset-md-1">
          <h1 class="product__name">
            <%= _.ecomUtils.name(_.state) %>
          </h1>
          <div class="product__stripe d-flex justify-content-between align-items-center">
            <p class="product__sku">
              COD: <%= _.state.sku %>
            </p>
            <% if(_.state.brands){ %>
            <p class="product__brands">
              Marca: <a href="/<%= _.state.brands[0].slug %>"><%= _.state.brands[0].name %></a>
            </p>
            <% } %>
            <button type="button" class="apx__wishlist--add" data-id="<%= _.state.id %>">
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99609 3.49589C5.8298 2.1324 3.88493 1.76562 2.42365 3.01417C0.962374 4.26272 0.756646 6.35024 1.9042 7.8269C2.85831 9.05465 5.74578 11.6441 6.69214 12.4822C6.79802 12.5759 6.85096 12.6228 6.91271 12.6412C6.9666 12.6573 7.02557 12.6573 7.07947 12.6412C7.14122 12.6228 7.19416 12.5759 7.30003 12.4822C8.24639 11.6441 11.1339 9.05465 12.088 7.8269C13.2355 6.35024 13.0549 4.24959 11.5685 3.01417C10.0821 1.77876 8.16238 2.1324 6.99609 3.49589Z" stroke="#4F4F4F" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Adicionar a lista de desejos
            </button>
          </div>
          <% if (_.state.short_description) { %>
            <p class="product__info mb-4 lead">
              <%= _.state.short_description %>
            </p>
            <hr>
          <% } %>
          <div id="product-actions">
            <div id="product-loading">
              <% if (_.state.available && _.state.visible && _.ecomUtils.inStock(_.state)) { %>
                <div class="product__price prices prices--big">
                  <strong class="prices__value">
                    <%= _.ecomUtils.formatMoney(_.ecomUtils.price(_.state)) %>
                  </strong>
                </div>
              <% } %>

              <% if (_.state.variations && _.state.variations.length) { %>
                <div data-slot="variations-info">
                  <!-- Custom info for products with variations, such as sizes table link -->
                  <% if (opt.size_guide && opt.size_guide.image) { %>
                    <% const sizeGuideTitle = opt.size_guide.title || _.dictionary('sizeGuide') %>
                    <div class="mb-3">
                      <a 
                        href="javascript:;"
                        data-toggle="modal"
                        data-target="#modal-size-guide"
                      >
                        <i class="i-ruler mr-1"></i> <%= sizeGuideTitle %>
                      </a>
                    </div>
                    <div 
                      class="modal modal-center fade" 
                      id="modal-size-guide" 
                      tabindex="-1" 
                      style="display: none;" 
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header d-flex align-items-center justify-content-between">
                            <h5 class="modal-title">
                              <%= sizeGuideTitle %>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img 
                              class="img-fluid" 
                              src="<%= opt.size_guide.image %>" 
                              alt="<%= sizeGuideTitle %>"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              <% } %>

              <div class="spinner-border m-4" role="status">
                <span class="sr-only">Loading...</span>
              </div>

              <div class="product__buy">
                <button
                  type="button"
                  class="btn btn-lg btn-primary"
                  onclick="ecomCart.addProduct(storefront.context.body)"
                  <% if (_.state.variations && _.state.variations.length) { %>
                    disabled
                  <% } %>
                >
                  <div data-slot="buy-button-content">
                    Adicionar ao Carrinho                    
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.6662 11.3333C22.6662 12.8362 22.0691 14.2776 21.0064 15.3403C19.9437 16.403 18.5024 17 16.9995 17C15.4966 17 14.0553 16.403 12.9926 15.3403C11.9299 14.2776 11.3328 12.8362 11.3328 11.3333M5.14656 10.4853L4.15489 22.3853C3.94186 24.9417 3.83534 26.2199 4.26747 27.2059C4.64714 28.0723 5.30496 28.7872 6.13676 29.2375C7.0835 29.75 8.36613 29.75 10.9314 29.75H23.0676C25.6329 29.75 26.9155 29.75 27.8622 29.2375C28.694 28.7872 29.3519 28.0723 29.7315 27.2059C30.1637 26.2199 30.0571 24.9417 29.8441 22.3853L28.8524 10.4853C28.6691 8.28573 28.5775 7.18595 28.0904 6.35355C27.6615 5.62054 27.0228 5.03285 26.2567 4.66628C25.3867 4.25 24.2831 4.25 22.0759 4.25L11.9231 4.25C9.71588 4.25 8.61229 4.25 7.74231 4.66628C6.97622 5.03285 6.33752 5.62054 5.90859 6.35354C5.4215 7.18595 5.32985 8.28573 5.14656 10.4853Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>

         
        </div>
      </div>

      <%- await include('@/helpers/widgets-append', {
        _, opt: {}, field: 'productSlots'
      }) %>
    </section>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'productBlockAppend'
    }) %>
  </div>
</div>

<section id="product-tabs" class="mb-4">
  <div class="container">
    <ul class="tabs">
      <% if (_.state.body_html) { %>
        <li data-tab="description">          
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_105_1653)">
            <path d="M0 0.5V30.5H30C13.4314 30.5 0 17.0686 0 0.5Z" fill="#F18E6A"/>
            <path d="M14.9995 15.4995C14.9995 7.21569 21.7152 0.5 30 0.5H0C0 17.0686 13.4314 30.5 30 30.5C21.7162 30.5 15.0005 23.7843 15.0005 15.5005L14.9995 15.4995Z" fill="#EED6C7"/>
            <path d="M14.9995 15.4995C14.9995 23.7832 21.7152 30.4989 29.999 30.4989V0.5C21.7152 0.5 14.9995 7.21569 14.9995 15.4995Z" fill="#4F3C35"/>
            </g>
            <defs>
            <clipPath id="clip0_105_1653">
            <rect width="30" height="30" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
          </svg>
  
          Sobre o produto
        </li>  
      <% } %>
      <% if (_.state.specifications) { %>
        <li data-tab="specs">
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_153_3373)">
            <path d="M0 30.5H30V0.5C30 17.0686 16.5686 30.5 0 30.5Z" fill="#EED6C7"/>
            <path d="M30 0.5H0C8.28377 0.5 14.9995 7.21569 14.9995 15.4995C14.9995 23.7832 8.28377 30.5 0 30.5C16.5686 30.5 30 17.0686 30 0.5Z" fill="#C06143"/>
            <path d="M14.9995 15.4995C14.9995 7.21569 8.28377 0.5 0 0.5V30.5C8.28377 30.5 14.9995 23.7843 14.9995 15.5005V15.4995Z" fill="#4F3C35"/>
            </g>
            <defs>
            <clipPath id="clip0_153_3373">
            <rect width="30" height="30" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
            </svg>
  
          Características
        </li>
      <% } %>        
    </ul>
    <div class="tab_description tab">
      <% if (_.state.body_html) { %>
        <section id="product-description" class="product-description">
          <div class="container">
            <div class="html-clearfix">
              <%- _.state.body_html.replace(
                /<img ([^/>]+)?src=['"]([^'"]+)['"]([^/>]+)?\/?>/g,
                '<img class="lozad" data-src="$2" $1 $3>'
              ).replace(
                /<img class="lozad" data-src="([^'"]+)"([^>]+)class=['"]([^'"]+)['"]([^/>]+)?>/g,
                '<img class="lozad $3" data-src="$1" $2 $4>'
              ) %>
            </div>
          </div>
        </section>
      <% } %>
      
      <%- await include('@/helpers/widgets-append', {
        _, opt: {}, field: 'productDescriptionAppend'
      }) %>
    </div>
    <div class="tab_specs tab">
      <% if (_.state.specifications) { %>
        <section id="product-specs" class="product-specs">
          <div class="container">
            <div class="row">
            
                <% for (const gridId in _.state.specifications) {
                  
                  if (_.state.specifications[gridId]) {
                    %>
                    <div class="col-md-auto col-12">
                      <div class="d-flex align-items-center justify-content-center flex-column  spec_item mr-3">
                        <strong class="text-muted">
                          <%= _.ecomUtils.gridTitle(gridId, _.grids) %>
                        </strong>
                        <span>
                          <%= _.ecomUtils.specTextValue(_.state, gridId, _.grids) %>
                        </span>
                      </div>
                    </div>
                    <%
                  }
                  
                } %>
              
            </div>
          </div>
        </section>
      <% } %>
    </div>
  </div>
  
</section>
<script>
 
  
</script>

<%
const productJsonLd = {
  '@context': 'http://schema.org',
  '@type': 'Product',
  sku: _.state.sku,
  description: _.state.short_description || _.state.meta_description || _.ecomUtils.name(_.state),
  name: _.ecomUtils.name(_.state),
  offers: {
    '@type': 'Offer',
    url: `https://${_.settings.domain}/${_.state.slug}`,
    availability: `${(_.ecomUtils.inStock(_.state) ? 'In' : 'OutOf')}Stock`,
    priceCurrency: _.settings.currency,
    price: _.ecomUtils.price(_.state),
    itemCondition: `http://schema.org/${(_.state.condition === 'new' ? 'New' : 'Used')}Condition`,
    priceValidUntil: _.ecomUtils.onPromotion(_.state) && _.state.price_effective_date && _.state.price_effective_date.end
      ? _.state.price_effective_date.end.slice(0, 10)
      : undefined,
    seller: {
      '@type': 'Organization',
      name: _.settings.name || _.store.name
    }
  }
}
if (_.state.brands && _.state.brands[0]) {
  productJsonLd.brand = {
    '@type': 'Brand',
    name: _.state.brands[0].name
  }
}
if (_.state.pictures && _.state.pictures.length) {
  productJsonLd.image = _.ecomUtils.img(_.state, null, 'zoom').url
    .replace(/(\w+\.)?(ecoms\d)\.com/i, '$2-nyc3.nyc3.cdn.digitaloceanspaces.com')
}
if (_.state.mpn && _.state.mpn[0]) {
  productJsonLd.mpn = _.state.mpn[0]
}
if (_.state.gtin && _.state.gtin[0]) {
  productJsonLd.gtin = _.state.gtin[0]
}
%>
<script id="product-block-jsonld" type="application/ld+json"><%-
  JSON.stringify(productJsonLd)
%></script>
<script type="text/javascript">
  setTimeout(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const variationId = urlParams.get('variation_id');
    const variations = window._context.body && window._context.body.variations;
    if (Array.isArray(variations) && variationId) {
      const selectedVariation = variations.find(variation => variation._id === variationId);
      if (selectedVariation) {
        const $jsonLd = document.querySelector('#product-block-jsonld');
        const jsonLd = JSON.parse($jsonLd.innerText);
        jsonLd.sku = selectedVariation.sku;
        jsonLd.offers.price = selectedVariation.price;
        jsonLd.name = (selectedVariation.name && selectedVariation.name.replace('"', '')) || jsonLd.name;
        jsonLd.offers.url = `${jsonLd.offers.url}?variation_id=${variationId}`;
        document.querySelector('#product-block-jsonld').innerText = JSON.stringify(jsonLd);
      }
    }
  }, 50);
</script>
