<%
// load footer options and contacts from content
const apx_popup = _.cms('apx_popup') || {}
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
%>
<% if(apx_popup){ %>
<div id="apx_popup">
  <div class="modal fade" id="apx_popup-box" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <% if(apx_popup.image){ %>  
            <div class="modal-image">
              <img src="<%= apx_popup.image %>">
            </div>
            <% } %>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <% if(apx_popup.title){ %>  
                <h5 class="modal-title"><%- apx_popup.title %></h5>
                <% } if(apx_popup.description){ %>  
                <p><%- apx_popup.description %></p>
                <% } if(apx_popup.code){ %>  
                  <%- apx_popup.code.code %>
                <% } %>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
//  window.onload = function() {
//       setTimeout(function() {
//           $('#apx_popup-box').modal('show');
//       }, 1000);
//   };
</script>
<% } %>
<% if (contacts.whatsapp) { %>   
    <a
      href="javascript:;"
      target="_blank"
      rel="noopener"
      class="floating-whatsapp-link"
      data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
    >
      <i class="i-whatsapp"></i>
    </a>
  
<% } %>
<footer class="footer">
  <div class="newsletter py-md-5 pt-3  mb-md-5 mb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-end">
            <div class="col-auto">
              <svg width="62" height="81" viewBox="0 0 62 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5729 21.1422V20.875L0 8.61523V49.5392C0 36.8406 7.6409 25.9318 18.5729 21.1422Z" fill="#EED6C7"/>
                <path d="M18.5728 8.61523H0.00088501L18.5728 20.875V8.61523Z" fill="#5D8144"/>
                <path d="M30.9941 29.0749L18.8132 21.0332C18.7325 21.0675 18.6536 21.1065 18.5729 21.1418V33.28C22.018 30.6439 26.3214 29.0749 30.9941 29.0749Z" fill="#F18D6F"/>
                <path d="M18.5729 33.2798V21.1416C7.6409 25.9303 0 36.8391 0 49.5386H10.5302C10.5302 42.91 13.6849 37.02 18.572 33.2807L18.5729 33.2798Z" fill="#F9C197"/>
                <path d="M30.994 18.5449C26.6693 18.5449 22.5524 19.4329 18.8131 21.0334L30.994 29.0742V18.5449Z" fill="#5D8144"/>
                <path d="M18.5729 33.2802V49.5381H30.9941V29.0752C26.3214 29.0752 22.0171 30.6442 18.5729 33.2802Z" fill="#D6826B"/>
                <path d="M18.5729 33.2803C13.6859 37.0195 10.5312 42.9096 10.5312 49.5382H18.5729V33.2803Z" fill="#F18D6F"/>
                <path d="M43.4153 33.2802C39.9711 30.6451 35.6677 29.0752 30.9959 29.0752L43.4153 37.2737L49.8147 41.4983C48.4183 38.2341 46.1979 35.4097 43.4153 33.2802Z" fill="#4F3C35"/>
                <path d="M43.4153 8.61523H18.5729V20.875L18.8132 21.0337C22.5524 19.4331 26.6693 18.5451 30.9941 18.5451V29.0745L30.9959 29.0763C35.6677 29.0763 39.9711 30.6462 43.4153 33.2814C46.1979 35.4099 48.4192 38.2352 49.8147 41.4994L61.9872 49.5346V8.61616H43.4144L43.4153 8.61523Z" fill="#90AE7D"/>
                <path d="M49.8157 41.4983L43.4162 37.2737L30.9969 29.0752H30.995V49.5381H51.458C51.458 46.684 50.8716 43.9664 49.8157 41.4983Z" fill="#F9C197"/>
                <path d="M30.9941 70.0019V80.5322C48.1112 80.5322 61.9882 66.6561 61.9882 49.5381H51.458C51.458 60.8394 42.2963 70.001 30.995 70.001L30.9941 70.0019Z" fill="#F9C197"/>
                <path d="M30.9941 49.5381V70.001C42.2954 70.001 51.457 60.8394 51.457 49.5381H30.9941Z" fill="#F18D6F"/>
                <path d="M10.5311 49.5381H0.00088501C0.00088501 58.632 3.91737 66.8111 10.1553 72.4803C11.2558 73.4805 12.4295 74.4028 13.6663 75.2388C18.6127 78.5809 24.5761 80.5322 30.995 80.5322V70.0019C19.6937 70.0019 10.5321 60.8403 10.5321 49.539L10.5311 49.5381Z" fill="#F18E6A"/>
                <path d="M18.5729 49.5381H10.5312C10.5312 60.8394 19.6928 70.001 30.9941 70.001V49.5381H18.5729Z" fill="#C06143"/>
                <g style="mix-blend-mode:multiply">
                <path d="M18.5738 8.6123H0.00088501V8.61509H18.5738V8.6123Z" fill="#EED09B"/>
                </g>
                <g style="mix-blend-mode:multiply">
                <path d="M61.9882 8.6123H43.4153V8.61509H61.9882V8.6123Z" fill="#EED09B"/>
                </g>
                <path d="M51.4579 49.5379H61.9882V49.5333L49.8156 41.498C50.8715 43.9661 51.4579 46.6838 51.4579 49.5388V49.5379Z" fill="#EED6C7"/>
                <path d="M53.7052 0H7.63995V4.52701H53.7052V0Z" fill="#4F3C35"/>
                </svg>
            </div>
            <div class="col-auto">
              <h4 class="m-md-0 mb-3">Assine nossa newsletter</h4>
              <p class="m-md-0 mb-3">
                E receba novidades em primeira mão.<br>
                Tenha acesso antecipado a cupons, promoções e lançamentos!
              </p>
            </div>
            <div class="col">
              <form action="">
                <input type="text" placeholder="Digite seu nome..." class="py-1">
                <input type="email" placeholder="Digite seu email..." class="py-1">
                <button type="button">Assinar</button>
              </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-4 order-last order-lg-last">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>
          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %> 
          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_whatsapp.svg"/>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <small>Whatsapp</small>
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_phone.svg"/>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <small>Telefone</small>
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <span class="footer__list-icon">
                  <img src="./assets/footer_mail.svg"/>
                </span>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <small>E-mail</small>
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <span class="footer__list-icon">
                  <img src="./assets/footer_address.svg"/>
                </span>
                <p>
                  <small>Horário de Atendimento</small>
                  Seg. à Sex. das 8h às 18h 
                </p>
              </li>
            <% } %>
          </ul>

          
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-categories"
            role="button"
            aria-expanded="false"
            aria-controls="footer-categories"
          >
            <%= footer.links_2.title || _.dictionary('categories') %>
          </a>
          <div class="collapse" id="footer-categories">
            <% if (footer.links_2.list_categories) { %>
              <ul class="footer__links">
                <% _.categories.forEach(({ name, slug, parent }) => { %>
                  <% if (!parent) { %>
                    <li>
                      <a href="/<%= slug %>">
                        <%= name %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_2.list.forEach(({ url, text }) => { %>
                  <li>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <div class="col-12 col-md-auto mt-md-0 mt-2">
       <div class="footer__title">
        Pagamento e Segurança
       </div>

        <div class="mt-md-4 mt-2 mb-3">
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__credits">
      <div class="p-0 w-100">
        <div class="row align-items-center credits">
          <div class="col-12 col-md">
            <span>
              <small>
                <%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
              </small>
            </span>
          </div>
          <div class="col-md-auto col-12"><%- await include('@/layout/inc/ecom-credits') %></div>
        </div>
      </div>      
    </div>
  </div>  
</footer>