<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
const apx_header = _.cms('apx_header') || {}
// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
const hasMegamenu = header.desktop_megamenu
const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
const fullWidthSubmenu = header.full_width_submenu
const isCentralizedLogo = header.centralized_logo
const hasAllDepartments = header.menu_all_departments
%>

<div id="overlay" class="fade"></div>

<div class="top-bar d-none">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>

  <div class="top-bar__nav d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col d-flex">
          <nav class="top-bar__page-links">
            <% if (header.contacts_stripe.pages) { %>
              <div class="<%= (themeCustom === 'ecom-beauty' && isCategoriesNavFull) ? 'd-lg-none' : '' %>">
                <% header.contacts_stripe.pages.forEach(({ link, title }) => { %>
                  <a href="<%= link %>"><%= title %></a>
                <% }) %>
              </div>
            <% } %>
          </nav>
          <% if (header.contacts_stripe.phone_wpp) { %>
            <div class="top-bar__contacts-container">
              <% if (contacts.whatsapp) { %>
                <a href="javascript:;" target="_blank" rel="noopener" class="whatsapp-link"
                  data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>">
                  <i class="i-whatsapp"></i>
                  <%= contacts.whatsapp %>
                </a>
                <% } %>
              <% if (contacts.phone) { %>
                <a href="tel:+<%= contacts.phone.replace(/\D/g, '') %>" target="_blank" rel="noopener">
                  <i class="i-phone"></i>
                  <%= contacts.phone %>
                </a>
              <% } %>
            </div>
            
          <% } %>
        </div>
        <% if (header.contacts_stripe.socials) { %>
          <div class="col-auto">
            <% networks.forEach(network => { %>
              <% if (contacts[network]) { %>
                <a href="<%= contacts[network] %>" target="_blank" rel="noopener">
                  <i class="i-<%= network %>"></i>
                </a>
              <% } %>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<header class="header" id="header">
  <% if(apx_header?.topbar_1?.topbar_1?.length > 0){ %>
    <div class="apx_topbar first py-md-2 py-2" style="--color:<%= apx_header.topbar_1.color %>; --background:<%= apx_header.topbar_1.background %>;">
      <div class="container py-md-1">
        <div class="row">
          <div class="col-12">
            <div
              class="glide"
              data-wait-mutation="false"
              data-autoplay="3000"
              data-per-view="1"
              data-per-view-md="1"
              data-per-view-sm="1"
            >
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides products-carousel__list">
                  <% apx_header.topbar_1.topbar_1.forEach(({ url, title })=> { %>
                    <li class="glide__slide">
                        <% if(url){ %> 
                        <a href="<%= url %>"> 
                        <% } %>
                          <%- title %>
                        <% if(url){ %> 
                        </a>
                        <% } %>
                      </li>
                  <% }) %>
                  </ul>
                  <div
                    class="glide__arrows glide__arrows--outer"
                    data-glide-el="controls"
                  >
                    <button
                      class="btn glide__arrow glide__arrow--left "
                      data-glide-dir="<"
                      aria-label="<%= _.dictionary('previous') %>"
                    >
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 15L7.5 10L12.5 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                    <button
                      class="btn glide__arrow glide__arrow--right"
                      data-glide-dir=">"
                      aria-label="<%= _.dictionary('next') %>"
                    > 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 15L12.5 10L7.5 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </div>
  <%  } %>
  <div class="header__container container-fluid">
    <div class="header__row row<%= isCentralizedLogo ? ' header__row--centralized-logo' : '' %><%= isCentralizedLogo && isCategoriesNavFull ? ' header__row--full-width' : '' %>">
      <div class="col p-0 header__toggler-block d-md-none">
        <button
          class="btn header__toggler<%= hasMegamenu ? ' d-lg-none' : '' %>"
          type="button"
          onclick="toggleSidenav()"
          aria-label="Toggle side navigation"
        >
          <i>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 12H21M3 6H21M3 18H15" stroke="var(--c1)" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </i>
          <% if (!categories.length) { %>
            <span class="d-none d-lg-inline">
              Menu
            </span>
          <% } %>
        </button>
      </div>

      <div class="col col-lg-auto pl-md-2 pl-lg-3 header__logo-block">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>

      <div class="order-lg-last col-md-auto col p-0 header__buttons-block">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          <a
            id="tracking-button"
            class="btn btn-lg d-none d-md-flex"
            role="button"            
            title="Rastreie seu pedido"
            href="https://www.kangu.com.br/rastreio/" target="_blank" 
          >
          <i class="svg-ico">
            <svg width="25" height="18" style="height:35px;width:35px" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.5 3.75H9.8258C12.1112 3.75 13.2539 3.75 13.6877 4.16047C14.0627 4.51528 14.2289 5.03796 14.1276 5.54416C14.0105 6.12976 13.0776 6.78964 11.2117 8.1094L8.16329 10.2656C6.29743 11.5854 5.36449 12.2452 5.24738 12.8308C5.14614 13.337 5.31231 13.8597 5.68727 14.2145C6.12105 14.625 7.26377 14.625 9.5492 14.625H10.25M6.875 3.75C6.875 4.99264 5.86764 6 4.625 6C3.38236 6 2.375 4.99264 2.375 3.75C2.375 2.50736 3.38236 1.5 4.625 1.5C5.86764 1.5 6.875 2.50736 6.875 3.75ZM17.375 14.25C17.375 15.4926 16.3676 16.5 15.125 16.5C13.8824 16.5 12.875 15.4926 12.875 14.25C12.875 13.0074 13.8824 12 15.125 12C16.3676 12 17.375 13.0074 17.375 14.25Z" stroke="#493C35" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </i>
            <span class="d-none d-md-block">
              Rastreie<br>seu Pedido
            </span>
          </a>
          <a
            id="wishlist-button"
            class="btn btn-lg d-none d-md-flex"
            role="button"            
            title="Wishlist"
            href="/app/#/account/favorites"
          >
            <i class="svg-ico">              
              <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6297 14.0612C23.1594 13.12 23.6012 12.2706 23.8736 11.6242C25.1964 8.48524 23.8884 4.87458 20.6908 3.40175C17.4933 1.92892 14.2825 3.45612 12.8734 6.40481C10.1787 4.55574 6.58402 4.8273 4.60169 7.71283C2.61936 10.5984 3.2415 14.368 5.95659 16.4251C7.18883 17.3586 9.62586 18.7344 11.9203 19.9588M23.6945 16.6459C23.0966 13.433 20.3628 11.0832 16.9207 11.7219C13.4786 12.3605 11.2529 15.466 11.7183 18.8404C12.0921 21.5515 14.1557 27.9123 14.9526 30.3083C15.0613 30.6353 15.1157 30.7987 15.2233 30.9127C15.3171 31.0121 15.4418 31.084 15.5747 31.1156C15.7272 31.1518 15.896 31.1172 16.2335 31.0479C18.7069 30.54 25.2474 29.1467 27.7822 28.1149C30.9372 26.8307 32.5653 23.3527 31.3458 20.0502C30.1263 16.7478 26.776 15.5573 23.6945 16.6459Z" stroke="#493C35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
  
            </i>
            <span class="d-none d-md-block">
              Lista<br>de Desejos
            </span>
          </a>
          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <i class="svg-ico">
              <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.107 21.25C12.6161 21.25 8.62234 23.4184 6.07971 26.7835C5.53246 27.5077 5.25884 27.8698 5.26779 28.3592C5.27471 28.7373 5.51214 29.2144 5.80965 29.4478C6.19473 29.75 6.72836 29.75 7.79563 29.75H26.4185C27.4857 29.75 28.0194 29.75 28.4044 29.4478C28.702 29.2144 28.9394 28.7373 28.9463 28.3592C28.9553 27.8698 28.6816 27.5077 28.1344 26.7835C25.5918 23.4184 21.598 21.25 17.107 21.25Z" stroke="#493C35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.107 17C20.6279 17 23.482 14.1458 23.482 10.625C23.482 7.10418 20.6279 4.25 17.107 4.25C13.5862 4.25 10.732 7.10418 10.732 10.625C10.732 14.1458 13.5862 17 17.107 17Z" stroke="#493C35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </i>
            <span class="d-none d-md-block">
              Conta
            </span>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <i class="svg-ico">
              <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7731 11.3333C22.7731 12.8362 22.1761 14.2776 21.1134 15.3403C20.0507 16.403 18.6093 17 17.1064 17C15.6035 17 14.1622 16.403 13.0995 15.3403C12.0368 14.2776 11.4398 12.8362 11.4398 11.3333M5.25349 10.4853L4.26182 22.3853C4.04879 24.9417 3.94227 26.2199 4.3744 27.2059C4.75407 28.0723 5.41189 28.7872 6.2437 29.2375C7.19043 29.75 8.47307 29.75 11.0383 29.75H23.1745C25.7398 29.75 27.0224 29.75 27.9692 29.2375C28.801 28.7872 29.4588 28.0723 29.8385 27.2059C30.2706 26.2199 30.1641 24.9417 29.951 22.3853L28.9594 10.4853C28.7761 8.28573 28.6844 7.18595 28.1973 6.35355C27.7684 5.62054 27.1297 5.03285 26.3636 4.66628C25.4936 4.25 24.39 4.25 22.1829 4.25L12.03 4.25C9.82282 4.25 8.71922 4.25 7.84925 4.66628C7.08315 5.03285 6.44445 5.62054 6.01553 6.35354C5.52844 7.18595 5.43679 8.28573 5.25349 10.4853Z" stroke="#493C35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </i>
            <span class="d-none d-md-block">
              Sacola
            </span>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        <div id="cart-quickview">
          <!--
            `CartQuickview` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
          -->
        </div>
      </div>

      <% if (header.search_input) {
        const searchColSize = !isCategoriesNavFull && categories.length ? '-3' : ''
        %>
        <div
          class="d-none d-lg-block col-12 col-lg<%= searchColSize %> collapse show"
          id="search-bar"
        >
          <div class="box">
            <!-- <button class="voice-search">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.6068 10V12C19.6068 15.866 16.4728 19 12.6068 19M5.60681 10V12C5.60681 15.866 8.74082 19 12.6068 19M12.6068 19V22M8.60681 22H16.6068M12.6068 15C10.95 15 9.60681 13.6569 9.60681 12V5C9.60681 3.34315 10.95 2 12.6068 2C14.2637 2 15.6068 3.34315 15.6068 5V12C15.6068 13.6569 14.2637 15 12.6068 15Z" stroke="#AA644B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button> -->
            <form
              class="header__search"
              id="search-form"
              action="/search"
              method="get"
            >
              <input
                type="search"
                name="term"
                placeholder="O que está procurando?"
                aria-label="<%= _.dictionary('searchProducts') %>"
                class="header__search-input form-control"
                id="search-input"
              >
              <button
                type="submit"
                class="header__search-btn"
                aria-label="<%= _.dictionary('searchProducts') %>"
              > 
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.6069 21L17.2569 16.65M11.6069 6C14.3684 6 16.6069 8.23858 16.6069 11M19.6069 11C19.6069 15.4183 16.0252 19 11.6069 19C7.18866 19 3.60693 15.4183 3.60693 11C3.60693 6.58172 7.18866 3 11.6069 3C16.0252 3 19.6069 6.58172 19.6069 11Z" stroke="#493C35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>  
              </button>
              <div id="instant-search">
                <!--
                  `InstantSearch` should be open on input focus:
                  https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
                -->
              </div>
            </form>

            <% if (_.settings.domain) { %>
              <script type="application/ld+json"><%-
                JSON.stringify({
                  '@context': 'http://schema.org',
                  '@type': 'WebSite',
                  url: `https://${_.settings.domain}/`,
                  potentialAction: {
                    '@type': 'SearchAction',
                    target: `https://${_.settings.domain}/search?term={search_term_string}`,
                    'query-input': 'required name=search_term_string'
                  }
                })
              %></script>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (themeCustom === 'ecom-beauty' && isCategoriesNavFull) { %>
        <% if (header.contacts_stripe.pages) { %>
          <div class="header__page-links d-none d-lg-inline-block">
            <% header.contacts_stripe.pages.forEach(({ link, title })=> { %>
              <a href="<%= link %>">
                <%= title %>
              </a>
            <% }) %>
          </div>
        <% } %>
      <% } %>

      
    </div>
   
  </div>
  <div class="border">
    <div class="container">
      <div class="row">
        <% if (categories && categories.length) { %>
          <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %> header__nav-block">
            <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
              
              <% categories.forEach(({ slug, name, _id, icon}) => { %>
                <% let $categoryLink %>
                <div class="d-inline-block">
                  <a
                    href="javascript:;"
                    class="header__category"
                    id="cd-<%= _id %>"
                    <%- hasMegamenu
                      ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                      : `onclick="toggleSidenav('${slug}')"` %>
                  >
                    <%= name %>
                  </a>
                  <%- $categoryLink %>
                  <%  if (slug && hasMegamenu) { %>
                    <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                    <% if (subcategories.length) { %>
                      <%
                        if (isAlphabeticalOrderSubmenu) {
                          subcategories.sort((a, b)=> {
                            return b.name > a.name ? -1 : 1
                          })
                        }

                        let columns = 0
                      %>
                      <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>" id="<%= `s-${slug.replace(/\//g, '_')}` %>">
                        <div class="header___links">
                          
                    
                        <% subcategories.forEach(subcategory => { %>
                          <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>

                          <% if (thirdCategories.length > 0) {
                            columns = columns + 1
                            %>
                          <div class="header___link hasThird_<%= thirdCategories.length > 0 ? 'yes':'no'%>">               
                            
                            <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                            
                            <%
                              if (isAlphabeticalOrderSubmenu) {
                                thirdCategories.sort((a, b)=> {
                                  return b.name > a.name ? -1 : 1
                                })
                              }
                            %>
                            <% thirdCategories.forEach(thirdCategory => { %>
                              <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                                <%= thirdCategory.name %>
                              </a>
                            <% }) %>
                          </div>   
                          <% } %>                     
                        <% }) %>
                        <div class="header___link hasThird_yes others"><% 
                          columns = columns + 1
                          subcategories.forEach(subcategory => { %>
                            <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
                            
                              <% if (thirdCategories.length == 0) {%>                                
                                <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                              <% } %>
                          <% }) %></div>                        
                        <script>
                          

                            
                            
                            window["<%= `s-${slug.replace(/\//g, '_')}` %>"] = <%= columns  %>;
                            // Verifica se o elemento foi encontrado e se o conteúdo de texto tem comprimento maior que 0
                            if (document.getElementById("<%= `s-${slug.replace(/\//g, '_')}` %>").querySelector('.hasThird_yes.others') && document.getElementById("<%= `s-${slug.replace(/\//g, '_')}` %>").querySelector('.hasThird_yes.others').textContent.trim().length == 0) {
                              document.getElementById("<%= `s-${slug.replace(/\//g, '_')}` %>").querySelector('.hasThird_yes.others').remove()
                              window["<%= `s-${slug.replace(/\//g, '_')}` %>"]  = window["<%= `s-${slug.replace(/\//g, '_')}` %>"]  - 1
                              
                            } 
                            window["<%= `s-${slug.replace(/\//g, '_')}` %>"] = window["<%= `s-${slug.replace(/\//g, '_')}` %>"]  > 3 ? 3 : window["<%= `s-${slug.replace(/\//g, '_')}` %>"] ;
                            document.getElementById("<%= `s-${slug.replace(/\//g, '_')}` %>").setAttribute('columns',window["<%= `s-${slug.replace(/\//g, '_')}` %>"])
                          
                        </script>
                        <% if(icon){ %>
                          <div class="header__icon-bn">
                            <a href="<%- slug %>">
                              <img src="<%= icon.url %>"/>
                            </a>
                          </div>
                        <% } %>
                      </nav>
                    <% } %>
                  <% } %>
                </div>
              <% }) %>
            </nav>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</header>
<% if (header.popup) { %>
  <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="<%- header.popup %>" style="max-width: 100%">
      </div>
    </div>
  </div>
<% } %> 
