<%
const contacts = _.cms('contacts') || {}
const footer = _.cms('footer') || {}
const logo = _.settings.logo
  ? { url: (_.assetsPrefix || '') + _.settings.logo, alt: _.settings.name }
  : _.store.logo

console.log(_.state)
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body class="app <%= JSON.stringify(_.state) %>">
  <header class="app__header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-auto mb-2 mb-sm-0">
          <a href="/">
            <% if (logo && logo.url) { %>
              <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
            <% } else { %>
              <%= _.settings.name || _.store.name %>
            <% } %>
          </a>
        </div>

        <div class="col">
          <div class="app__contact">
            <span class="d-none d-md-inline">
              <%= _.dictionary('needHelpQn') %> <%= _.dictionary('callTo') %>
            </span>
            <% if (contacts.whatsapp) { %>
              <span><%= contacts.whatsapp %></span>
            <% } %>
          </div>

          <div class="app__safe">
            <span class="app__safe-icon">
              <i class="i-shield"></i>
            </span>
            <%= _.dictionary('safeEnvMsg') %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="spa">
    <div id="storefront-app">
      <%- await include('@/sections/inc/loading') %>
    </div>
  </main>

  <footer>
    <!-- <div class="app__footer">
      <div class="container-fluid">
        <div class="app__stamps">
          <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
        </div>
      </div>
    </div> -->

    <div class="app__credits container ">
      <div class="px-md-5">
        <% if (footer.credits) { %>
          <span><%= footer.credits %></span>
        <% } else { %>
          <span class="app__credits-name">© <%= _.settings.name %> </span>
          <span class="app__credits-address"> - <%= contacts.address %> - </span>
          <span class="app__credits-number"> <%= contacts.doc_number %></span>
        <% } %>
      </div>
      <div class="px-md-5">
        <%- await include('@/layout/inc/ecom-credits') %>
      </div>
      
    </div>
  </footer>

  <%- await include('@/json', { _ }) %>
  <%- await include('@/scripts') %>
  <div id="message-container"></div>

  <script>
    window.messageBullet = function(message) {
    const container = document.getElementById('message-container');
    
    // Create a new div for the message
    const messageElement = document.createElement('div');
    messageElement.classList.add('message');
    messageElement.textContent = message;
    
    // Append the new message to the container
    container.appendChild(messageElement);
    
    // Trigger fadeIn effect
    setTimeout(() => {
      messageElement.classList.add('fade-in');
    }, 10);  // Small delay to allow the DOM to update

    // Wait 3 seconds, then trigger fadeOut
    setTimeout(() => {
      messageElement.classList.remove('fade-in');
      messageElement.classList.add('fade-out');
      
      // Remove the message element after fadeOut transition (500ms)
      setTimeout(() => {
        messageElement.remove();
      }, 500);
    }, 3000);
  }
  </script>
</body>

</html>
