<% if (Array.isArray(opt.items) && opt.items.length) {
  const title = opt.title ||
    (opt.collection && opt.collection.name) ||
    _.dictionary('popularProducts')
  const link = opt.link || (opt.collection && `/${opt.collection.slug}`)

  if (opt.shuffle) {
    let m = opt.items.filter(item => {
      return item.available && _.ecomUtils.inStock(item)
    }).length
    let t, i
    while (m) {
      i = Math.floor(Math.random() * m--)
      t = opt.items[m]
      opt.items[m] = opt.items[i]
      opt.items[i] = t
    }
  }
  %>

<section
    class="products-carousel"
    data-size="<%= opt.items.length %>"
    <% if (opt.collection) { %>
      data-collection-id="<%= opt.collection._id %>"
    <% } %>
    data-title="<%= title %>"
  >
  <div class="container">
    
    <div class="d-flex justify-content-between align-items-center apx-section-title pb-2 mb-3">
      <% if (!opt.headless) { %>
        <h4 class="products-carousel__title ">
          <%- title %>
        </h4>
      <% } %>

      <% if (opt.title || opt.collection) { %>
        <% if (link) { %>
          <a href="<%= link %>" class="d-flex">
            Ver Todos
            <i class="svg-ico">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.66669 8H13.3334M13.3334 8L9.33335 4M13.3334 8L9.33335 12" stroke="#4F4F4F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </i>
          </a>
        <% } %>
      <% } %>
    </div>

    <div
      class="glide"
      data-wait-mutation="true"
      data-autoplay="<%= opt.autoplay %>"
      data-per-view="4"
      data-per-view-md="3"
      data-per-view-sm="2"
    >
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides products-carousel__list">
          <% for (let i = 0; i < opt.items.length; i++) { %>
            <li class="glide__slide products-carousel__item">
              <%- await include('@/sections/inc/product-item', {
                _, opt: { item: opt.items[i] }
              }) %>
            </li>
          <% } %>
        </ul>

        <div
          class="glide__arrows glide__arrows--outer"
          data-glide-el="controls"
        >
          <button
            class="btn glide__arrow glide__arrow--left circle"
            data-glide-dir="<"
            aria-label="<%= _.dictionary('previous') %>"
          >
            
            <svg width="42" height="44" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.399994" width="41.25" height="44" rx="20.625" fill="white"/>
              <path d="M26.1812 33L15.8687 22L26.1812 11" stroke="#AA644B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
  
          </button>
          <button
            class="btn glide__arrow glide__arrow--right circle"
            data-glide-dir=">"
            aria-label="<%= _.dictionary('next') %>"
          > 
            
            <svg width="42" height="44" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="41.25" height="44" rx="20.625" transform="matrix(-1 0 0 1 41.65 0)" fill="white"/>
              <path d="M15.8688 33L26.1813 22L15.8688 11" stroke="#AA644B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

          </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <% for(let index = 0; index <= opt.items.length/2; index++){ %>
            <button
              class="glide__bullet"
              data-glide-dir="=<%= index %>"
              aria-label="<%= `${(index)}°` %>"
            ></button>
          <% } %>
        </div>
    </div>
      </div>
    </div>

  
  </div>  
</section>
<% } %>
